@import './base.css';
@import 'tailwindcss';
@import 'primeicons/primeicons.css';
@import './backgrounds.css';

#app {
  margin: 0;
  padding: 0;
  font-weight: normal;
  max-height: 125vh;
  max-width: 100vw;
}

a {
  text-decoration: none;
  color: pink;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(326, 8%, 38%, 0.438);
  }
}

.theme-color {
  color: pink;
}

.p-drawer {
  background-image: url('/banner.jpg');
  background-size: cover; /* fills the container */
  background-position: center; /* centers the image */
  background-repeat: no-repeat;
}
