/* Slide-up Transition */
.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.5s ease-out;
}

.slide-up-enter-from {
  opacity: 0;
  transform: translateY(50px);
}

.slide-up-leave-to {
  opacity: 0;
  transform: translateY(-50px);
}

/* Slide-dpwn Transition */
.slide-down-enter-active,
.slide-down-leave-active {
  transition: all 0.65s ease-out;
}

.slide-down-enter-from,
.slide-down-appear-from {
  opacity: 0;
  transform: translateY(-100px);
}

.slide-down-enter-to,
.slide-down-appear-to,
.slide-down-leave-from {
  opacity: 1;
  transform: translateY(0);
}

.slide-down-leave-to {
  opacity: 0;
  transform: translateY(-100px);
}
